In [27]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series,DataFrame
%matplotlib inline

In [28]:
dat = pd.read_csv("car.csv")#Using the car evaluation dataset

In [29]:
dat.head()#the first five observations

  buying  maint doors persons lug_boot safety  class
0   high   high     4    more      med   high    acc
1    low  vhigh     3    more      big    low  unacc
2    low  vhigh     4    more      big    med    acc
3   high   high     3       4      med    low  unacc
4   high   high     2       2      med   high  unacc

In [30]:
np.unique(dat['class'])#The data has 4 labels

array(['acc', 'good', 'unacc', 'vgood'], dtype=object)

In [31]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 7 columns):
buying      2660 non-null object
maint       2660 non-null object
doors       2654 non-null object
persons     2657 non-null object
lug_boot    2660 non-null object
safety      2660 non-null object
class       2660 non-null object
dtypes: object(7)
memory usage: 145.5+ KB

In [36]:
dat.describe()

       buying  maint doors persons lug_boot safety  class
count    2660   2660  2654    2657     2660   2660   2660
unique      4      4     5       4        3      3      4
top      high  vhigh     2       2    small    med  unacc
freq      908    730   675     888      887    888   1916

In [47]:
#function to calculate the similarity score between two categorical objects
def similarity_score(x,y):
    count = 0
    for i in range(len(x)):
        if x[i]==y[i]:
            count +=1
    return count

In [48]:
def kmodes(data,clusters,iterations):
    index=np.random.permutation(data.index)[:clusters]#randomly selecting index values for initial k modes
    modes=[]
    labels=[]
    dis=[]
    J=[]
    d=dict()
#calculating the dissimilarity score between each categorical object from the modes and assigning label to minimum score
    for i in index:
        modes.append(np.array(data.ix[i]))#inital k modes added 
    for i in range(len(data)):
        dis=[]
        for j in range(len(modes)):
            dis.append(similarity_score(np.array(data.ix[i]),modes[j]))
        labels.append(np.argmin(dis))
    data['label']=np.array(labels)
#using frequency based method to update the weights
    for i in range(iterations):
        modes=[]
        labels=[]
        for i in np.unique(data['label']):
            modes.append(np.array(data.ix[data['label']==i,:-1].describe().ix[2,:]))
#calculating the diss score between each categorical object and updated modes and assigning new label to minimum score
        for i in range(len(data)):
            dis=[]
            for j in range(len(modes)):
                dis.append(similarity_score(np.array(data.ix[i,:-1]),modes[j]))
            labels.append(np.argmin(dis))
        data['label']=np.array(labels)
#calculating the cost function of individual cluster
    for i in range(len(modes)):
        dis=[]
        for j in range(len(data.ix[data['label']==i,:-1])):
            dis.append(similarity_score(np.array(data.ix[data['label']==i,:-1].iloc[j]),modes[i]))
        J.append(sum(dis))
    d['modes']=modes
    d['costfunction']=J
    d['totalcost']=sum(J)
    d['data']=data
    return d

In [49]:
dic = kmodes(dat.ix[:,:-1],4,2)#calling kmodes on the cars dataset with k equal to 4 as the original had 4 labels.

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:22: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:33: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:34: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [50]:
dic['costfunction']#individual cost function of 4 clusters

[983, 492, 352, 139]

In [51]:
dic['totalcost']#total cost function

1966

In [52]:
cldata = dic['data']#lets see how the clusterd data looks like

In [53]:
cldata.ix[cldata['label']==0,:].head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   buying  maint  doors persons lug_boot safety  label
0    high   high      4    more      med   high      0
2     low  vhigh      4    more      big    med      0
5    high    med    NaN       2    small   high      0
6     med   high  5more       4    small   high      0
10   high    low      4       2      big   high      0

In [54]:
cldata.ix[cldata['label']==1,:].head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   buying maint doors persons lug_boot safety  label
7   vhigh  high     4       0      med    med      1
8   vhigh   med     2    more    small    med      1
13    med   low     4       2      med    low      1
22    med   med     3       4      med    low      1
24    low  high     3       2    small   high      1

In [55]:
cldata.ix[cldata['label']==2,:].head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   buying  maint doors persons lug_boot safety  label
1     low  vhigh     3    more      big    low      2
3    high   high     3       4      med    low      2
4    high   high     2       2      med   high      2
9    high    low     2       2      med    med      2
16  vhigh    med     2       4      big    med      2

In [56]:
cldata.ix[cldata['label']==3,:].head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   buying  maint doors persons lug_boot safety  label
14    low    med     3    more    small   high      3
33  vhigh    med     3    more    small   high      3
48    med  vhigh     3       4      med    low      3
60    med  vhigh     3       2      big   high      3
63  vhigh   high     4       4      big   high      3